<!DOCTYPE html>
<html>
  <head>
    <title>Wordcentral</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header>
			<h3>WordCentral</h3>
			<%= render "partials/navigation" %>
		</header>
		<section>
			<%= yield %>
		</section>
  </body>
</html>
