<%= form_for [@concert, @new_comment] do |f| %>

    <div class="form-group">
        <h5 class = "col-form-label">Add new comment</h5>
            <%= f.label :email, class: "col-form-label" %>
        <div class="">
            <%= f.text_field :email, placeholder: "Your email address",class: "form-control" %>
        </div>
    </div>
    <div class="form-group">
            <%= f.label :feedback, class: " col-form-label"  %>
        <div class="">
            <%= f.text_area :feedback, placeholder: "Your Comment" ,class: "form-control"%>
        </div>
    </div>
    <div class="form-group">
        <div class="">
            <%= f.button class: "btn btn-primary"%>
        </div>
    </div>
<% end  %>
