<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
    <title>TimeTrackr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header>
			<h3>
				<a href="/">TimeTrackr</a>
			</h3>

		<%= render "snippets/navigation"%>
		</header>
		<section>
			<%= yield %>
		</section>
		<footer>
			<p>
				Made with <span style="color:#c30e0e;">&hearts;</span> at Ironhack.
			</p>
		</footer>
  </body>
</html>
